body {
   	background: #c3d8f0;
}
h1 {
	color: black;
}
.clock {
	color: black;
	background: #4dffff1a;
	border: 7px solid #4dffff1a;
	box-shadow: 10px 10px 15px #ffffff80,
				-10px -10px 15px #00000070,
				inset 5px 5px 15px #00000030,
				inset -5px -5px 15px #00000030;
}
.clock div .line {
	width: 100px;
	height: 7px;
	transition: 0.5s;
	position: absolute;
	left: 50%;
}